.card-data{
    box-shadow: 0 2px 20px 0 rgb(82, 82, 82);
    width: 300px;
    margin: 40px;
    padding: 20px;
    position: relative;
}
.img-data{
    width: 200px;
    height: 200px;

}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btn-more{
position: absolute;
bottom: 15px;
background-color: chocolate;
border: none;
padding:5px 10px;
color: white;
cursor: pointer;
}
.btn-more:hover{
background-color: rgb(49, 48, 48);
}
.price{
    margin-bottom: 30px;
}